body {
	font-family: 'Helvetica';
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
p {
	margin: 0px;
}
.content {
	position: absolute;
	width: 100%;
	height:100%;
}
.painting {
	position: relative;
	-webkit-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
}
.info {
	padding: 0px;
	margin: 0px;
	position: absolute;
	color: #000;
	top: 20px;
	right: 60px;
	width: 300px;
	text-align: right;
	font-size: 14px;
}
.info .big {
	font-size: 20px;
	font-weight: 600;
}
.info p {
	margin-bottom: 20px;
}

.name {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	top: 20px;
}

#logo {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	top: 20px;
	left: 60px;
}

#about {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	bottom: 20px;
	left: 60px;
	cursor: pointer;
	z-index: 1000;
}
#about:hover {
	text-decoration: underline;

}
#aboutContent {
	position: absolute;
	top: 20px;
	width: 600px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	z-index: -1;
	opacity: 0;
	overflow-y: auto;
	overflow-x: auto;
}

#aboutContent p {
	padding-bottom: 20px;
}

#aboutContent p .big {
	font-size: 20px;
	font-weight: 600;
}

#aboutContent p .list {
	display:inline-block;
	/*color: #f00;*/
	/*text-indent: -80px;*/
	padding-left: 40px;
	padding-bottom: 0px;
}


#aboutImage {
	position: relative;
	-webkit-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-left: 74px;
}

.arrow {
	position: fixed;
	vertical-align: middle;
	font-size: 120px;
	font-weight: 600;
	cursor: pointer;
	height: 50%;
	width: 20%;
}
#rang {
	right: 20px;
	text-align: right;
}
#lang {
	left: 20px;
}