body {
	font-family: 'Helvetica';
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
p {
	margin: 0px;
}
.content {
	position: absolute;
	width: 100%;
	height:100%;
}
.painting {
	position: relative;
	-webkit-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
}
.info {
	padding: 0px;
	margin: 0px;
	position: absolute;
	color: #000;
	top: 20px;
	right: 60px;
	width: 300px;
	text-align: right;
	font-size: 14px;
}
.info .big {
	font-size: 20px;
	font-weight: 600;
}
.info p {
	margin-bottom: 20px;
}

.name {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	top: 20px;
}

.overname {
	position: absolute;
	font-size: 14px;
	font-weight: 200;
	z-index: 2000;
}

#logo {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	top: 20px;
	left: 60px;
}
#overview {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	bottom: 20px;
	right: 60px;
	cursor: pointer;
	z-index: 1000;
}
#overview:hover {
	text-decoration: underline;
}

#overviewContent {
	position: absolute;
	left:0px;
	top: 0px;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	z-index: -1;
	opacity: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	pointer-events: none;
}
#overviewInner {
	position: absolute;
	top: 60px;
	width: 100%;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	overflow-y: auto;
	overflow-x: hidden;
	pointer-events: auto;
	/*padding-top:30px;*/
	/*padding-bottom:560px;*/
	padding: 30px 0px 560px 0px;
	margin:0px;
}
.overviewImages {
	width: 100px;
	height: 100px;
	background-color:#f0f;
	border: #fff solid 5px;
	float:left;
	position: relative;
	-webkit-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	cursor: pointer;
	opacity: 0.7;
	/*margin:20px;*/
}
.paintingOverview {
	pointer-events: none;
}
.gradient {
	background-repeat: repeat-x;
	background-image: url('../utils/gradient.png');
	height: 15px;
	width: 100%;
}
#gradientBottom {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:500;
}
#gradientTop {
	position:absolute;
	top:60px;
	left:0px;
	z-index:500;
}
#about {
	position: absolute;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	bottom: 20px;
	left: 60px;
	cursor: pointer;
	z-index: 1000;
}
#about:hover {
	text-decoration: underline;
}
#aboutContent {
	position: absolute;
	left:0px;
	top: 0px;
	width: 100%;
	height: 100%;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	z-index: -1;
	opacity: 0;
	overflow-y: auto;
	overflow-x: auto;
	pointer-events: none;
}
#aboutInner {
	position: absolute;
	top: 20px;
	width: 600px;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	overflow-y: auto;
	overflow-x: auto;
	pointer-events: auto;
}

#aboutInner p {
	padding-bottom: 20px;
}

#aboutInner p .big {
	font-size: 20px;
	font-weight: 600;
}

#aboutInner p .list {
	display:inline-block;
	/*color: #f00;*/
	/*text-indent: -80px;*/
	padding-left: 40px;
	padding-bottom: 0px;
}


#aboutImage {
	position: relative;
	-webkit-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 67px -20px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	margin-left: 74px;
}

.arrow {
	position: fixed;
	vertical-align: middle;
	font-size: 120px;
	font-weight: 600;
	cursor: pointer;
	height: 50%;
	width: 20%;
}
#rang {
	right: 20px;
	text-align: right;
}
#lang {
	left: 20px;
}
.flipV {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
}
